.twitter-housechan-message-box {
    width: 400px;
    min-height: 50px;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    right:25px;
    border-radius: 16px 16px 0 0 ;
    box-shadow: rgb(101 119 134 / 20%) 0 0 15px, rgb(101 119 134 / 15%) 0 0 3px 1px;
    font-family: sans-serif;
    /*display: none;*/
}

.twitter-housechan-message-box .twitter-housechan-message-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: sans-serif;
}

.twitter-housechan-message-box .twitter-housechan-message-header img {
    display: inline-block;
    position: absolute;
    top: 7px;
    width: 35px;
    height: 35px;
}
.home-icon {
    left: 20px;
}
.slide-toggle-icon {
    right: 20px;
}

.twitter-housechan-message-header {
    cursor: default;
}

.twitter-housechan-message-header img:hover {
    cursor: pointer;
}

.create-private-room:hover {
    cursor: pointer;
}
.twitter-housechan-message-box .twitter-housechan-message-body {
    display: none;
}


.discord-housechan-message-box {
    border-radius: 8px;
    position: absolute;
    right: 18px;
    bottom: 24px;
    width: 38%;
    min-height: 45px;
    background: #40444b;
    overflow: hidden;
}

.discord-housechan-message-box .discord-housechan-message-header {
    font-family: sans-serif;
    width: 100%;
    height: 45px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #dcddde;
}

.discord-housechan-message-header:hover {
    cursor: pointer;
}
.discord-housechan-message-box .discord-housechan-message-body {
    display: none;
    background: #fff;
}

.discord-housechan-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(50%);
    z-index: 999;
}

.discord-housechan-icon:hover {
    cursor: pointer;
}