/*twitter*/
.twitter-housechan-message-box {
    width: 400px;
    min-height: 50px;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    right: 25px;
    border-radius: 16px 16px 0 0;
    box-shadow: rgb(101 119 134 / 20%) 0 0 15px, rgb(101 119 134 / 15%) 0 0 3px 1px;
    font-family: sans-serif;
    /*display: none;*/
}

.twitter-housechan-message-box .twitter-housechan-message-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: sans-serif;
    padding: 0 20px;
    border-bottom: 1px solid #F2F2F2;
}

#popup-page .twitter-housechan-message-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: sans-serif;
    padding: 0 20px;
}

.twitter-housechan-message-header img {
    width: auto;
    height: 28px;
    border-radius: 4px;
    margin-right: 8px;
}

.twitter-housechan-message-header span {
    margin: 0;
    font-size: 20px;
    color: rgb(15, 20, 25);
    font-style: normal;
    font-weight: bold;
}

.twitter-housechan-message-header .go-home-icon {
    position: absolute;
    right: 50px;
    height: 22px;
    width: auto;
    z-index: 999;
}

.slide-toggle-icon {
    position: absolute;
    right: 12px;
    z-index: 999;
}

.twitter-housechan-message-header:hover {
    cursor: pointer;
}

.twitter-housechan-message-header img:hover {
    cursor: pointer;
}

.create-private-room:hover {
    cursor: pointer;
}

.twitter-housechan-message-box .twitter-housechan-message-body {
    /*display: none;*/
    height: 600px;
}

/*twitter tanchuang */
.bind-platform-dialog-box {
    position: fixed;
    top: 0;
    font-family: sans-serif;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

.bind-platform-dialog-box .bind-platform-dialog {
    padding: 0 32px 39px 39px;
    border-radius: 16px;
    position: fixed;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translateX(-250px) translateY(-250px);
    background-color: #fff;
}


.bind-platform-dialog .bind-platform-dialog-header .bind-platform-dialog-header-close-icon {
    position: absolute;
    top: 39px;
    right: 32px;
    width: 12px;
    height: 12px;
}

.swapchat-spaces-btn {
    font-family: sans-serif;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    background: #605DEC;
    margin-top: 20px;
    border-radius: 16px;
    color: #fff;
    font-size: 18px;
}

.swapchat-spaces-btn:hover {
    font-family: sans-serif;
    background: rgba(93, 99, 231, 0.3);
    font-weight: bold;
    cursor: pointer;
}