/*twitter*/
.twitter-housechan-message-box {
    width: 400px;
    min-height: 50px;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    right:25px;
    border-radius: 16px 16px 0 0 ;
    box-shadow: rgb(101 119 134 / 20%) 0 0 15px, rgb(101 119 134 / 15%) 0 0 3px 1px;
    font-family: sans-serif;
    /*display: none;*/
}

.twitter-housechan-message-box .twitter-housechan-message-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: sans-serif;
    padding: 0 20px;
}

#popup-page .twitter-housechan-message-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: sans-serif;
    padding: 0 20px;
}

.twitter-housechan-message-header img {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    margin-right: 8px;
}
.twitter-housechan-message-header span {
    margin: 0;
    font-size: 20px;
    color: rgb(15, 20, 25);
    font-style: normal;
    font-weight: bold;
}
.twitter-housechan-message-header .go-home-icon {
    position: absolute;
    right: 50px;
    width: 20px;
    height: 20px;
}

.slide-toggle-icon {
    position: absolute;
    right: 12px;
}

.twitter-housechan-message-header {
    cursor: default;
}

.twitter-housechan-message-header img:hover {
    cursor: pointer;
}

.create-private-room:hover {
    cursor: pointer;
}
.twitter-housechan-message-box .twitter-housechan-message-body {
    display: none;
    height: 478px;
}

/**/
.bind-platform-dialog-box {
    position: fixed;
    top: 0;
    font-family: sans-serif;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

.bind-platform-dialog {
    padding: 30px;
    border-radius: 16px;
    position: fixed;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translateX(-250px) translateY(-250px);
    background-color: #fff;
}
.bind-platform-dialog h1:nth-last-of-type(1) {
    text-align: left;
}
.send-tweet-button {
    list-style: none;
    color: #008ed5;
}

.submit-address-tweet-button {
    color: #008ed5;
}
.submit-address-tweet-button:hover {
    cursor: pointer;
}



/*discord*/

.discord-housechan-message-box {
    border-radius: 8px;
    position: absolute;
    right: 18px;
    bottom: 24px;
    width: 38%;
    min-height: 45px;
    background: #40444b;
    overflow: hidden;
}

.discord-housechan-message-box .discord-housechan-message-header {
    font-family: sans-serif;
    height: 45px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #dcddde;


    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.discord-housechan-message-header img {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    margin-right: 8px;
}
.discord-housechan-message-header span {
    margin: 0;
    font-size: 20px;
    color: rgb(15, 20, 25);
    font-style: normal;
    font-weight: bold;
}
.discord-housechan-message-header .go-home-icon {
    position: absolute;
    right: 50px;
    width: 20px;
    height: 20px;
}

.discord-housechan-message-header .slide-toggle-icon {
    position: absolute;
    right: 12px;
}

.discord-housechan-message-header {
    cursor: default;
}

.discord-housechan-message-header img:hover {
    cursor: pointer;
}
.discord-housechan-message-box .discord-housechan-message-body {
    display: none;
    background: #fff;
}

.discord-housechan-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(50%);
    z-index: 999;
}

.discord-housechan-icon:hover {
    cursor: pointer;
}