/*opensea*/
.opensea-housechan-message-box {
    width: 400px;
    min-height: 50px;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    right:25px;
    border-radius: 16px 16px 0 0 ;
    box-shadow: rgb(101 119 134 / 20%) 0 0 15px, rgb(101 119 134 / 15%) 0 0 3px 1px;
    font-family: sans-serif;
    z-index: 999;
    /*display: none;*/
}

.opensea-housechan-message-box .opensea-housechan-message-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    font-family: sans-serif;
    padding: 0 20px;
}

.opensea-housechan-message-header img {
    width: auto;
    height: 28px;
    border-radius: 4px;
    margin-right: 8px;
}
.opensea-housechan-message-header:hover {
    cursor: pointer;
}

.opensea-housechan-message-header img:hover {
    cursor: pointer;
}

.go-home-icon {
    position: absolute;
    right: 50px;
    width: 20px;
    height: 20px;
    z-index: 999;
}

.slide-toggle-icon {
    position: absolute;
    right: 12px;
    z-index: 999;
}


.create-private-room:hover {
    cursor: pointer;
}
.opensea-housechan-message-box .opensea-housechan-message-body {
    /*display: none;*/
    height: 600px;
}


.create-join-collection-room-button {
    border-radius: 10px;
}
.create-join-collection-room-button .join-collection-room-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.join-collection-room-button img {
    width: 50%;
}

.create-join-collection-room-button:hover {
    cursor: pointer;
    background: rgba(93, 98, 231, 0.8);
    opacity: 0.3;
}

.swapchat-talk-to-owner-btn {
    display: flex;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #ccc;
    background: #605DEC;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}
.swapchat-talk-to-owner-btn:hover {
    background: rgba(93, 98, 231, 0.8);
    opacity: 0.3;
    color: #fff;
    cursor: pointer;
}

.join-collection-room-button-test-box {
    width: 100%;
    height: 60px;
    border: 1px solid #ccc;
    background: #605DEC;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
}

.opensea-create-private-room{
    width: 100%;
    height: 60px;
    padding:0 32px;
}

.opensea-create-private-room .opensea-create-private-room-btn-box {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    background: #605DEC;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 10px;
}

.opensea-create-private-room .opensea-create-private-room-btn-box:hover{
    background: rgba(93, 98, 231, 0.8);
    opacity: 0.3;
    color: #fff;
    cursor: pointer;
}


